
iOS Calculator/NGOViewController.m

iOS Calculator/Base.lproj/Main.storyboard

iOS Calculator.xcodeproj/project.xcworkspace/xcuserdata/KovalMac.xcuserdatad/UserInterfaceState.xcuserstate

iOS Calculator/NGOViewController.h
